* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.nav_btn_1:hover {
    background-color: #dadada !important;
}


.img-fluid {
    font-size: 3vmax;
}
.logo{
    max-width: 70px;
    max-height: 70px;
}

.red_btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.get_btn {
    width: 120px;
    
}

.para {
    font-size: 14px;
    
}

.box {
    /* border: 2px solid red; */
    background-color: white;
    box-shadow: -1px -1px 17px rgba(0, 0, 0, 0.5);
    max-height: 280px;
    border-radius: 10px;
}

.form_box {
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
    min-height: 330px;
    border-radius: 20px;
    
}

.link {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.link a {
    text-decoration: none;
    color: white;
}

.pannel {
    margin-bottom: 20px;
}
.h1_heading{
    font-size: 3vw;
    text-transform: capitalize;
}
.star{
    min-width: 3vmax;
}

@media (max-width: 1050px) {
    .h1_heading{
        font-size: 2.6vmax;
    }
}
@media (min-width: 990px) {
    .nav_ul {
        margin-left: 13vw;
    }
}
@media (max-width: 500px) {
    .link {
        gap: 10px;
    }
    
    .link a {
        font-size: 11px;
    }
    
    div p,
    .para,
    h5 {
        font-size: 9px;
    }
    .h1_heading{
        font-size: 10px;
    }
    
}

@media (max-width: 350px) {
    .link {
        gap: 8px;
    }
    
    .link a {
        font-size: 10px;
    }
    
    div p,
    .para,
    div h5 {
        font-size: 7px;
        
    }
    .h1_heading{
        font-size: 8px;
    }
}
